# add yours secret value and 
# rename file to .env
GROQ_API_KEY=<groq-api-key>
LANGCHAIN_API_KEY=<langchain-api-key>
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_PROJECT="<project-name in langsmith>"